.headerIndex{
    background-image: url(/imagenes/imagenes/IndexPrincipal.jpg);
    background-size: cover;
}
.imagenIndex{
    width: 300px;
    height: 200px;
}
.videoP{
    width: 85vw;
}
.proyectosTexto div div p, .sobreNosMain section p{
    font-size: 1rem;
    text-align: center;
}
.sobreNosFlex div{
    width: 20rem;
}
.headerLogo{
    width: 6rem;
}
.contacto div h3{
    font-size: 1rem;
}

@media screen and (min-width:1200px){
    .headerLogo{
        width: 10rem;
    }
    .videoP{
        width: 70%;
        text-align: center;
    }
}
.footerIndex{
    margin-top: 8rem;
    padding: 1rem;
    background-image: linear-gradient(rgb(134, 168, 232), rgb(102, 73, 209));
}
.tituloIndex{
    color: #214273;
}
/*animaciones*/
.headerLogo:hover{
    transform: scale(1.2,1.2);
    animation-name: Logo;
    animation-duration: 5s;
}
@keyframes Logo {
    from{ transform: rotate(-20deg);}
    to{transform: rotate(-360deg);}
} 

.headerList li:hover{
    animation-name: nav;
    animation-duration: 1s;
    cursor: pointer;
    
}
@keyframes nav {
    from{ transform: translateY(0px);}
    to{ transform: translateY(-8px)}
}
.opcionesIndex div:hover{
    opacity: 0.8;
}
.carta div:hover, .boton:hover{
    transform: scale(1.2,1.2);
    cursor: pointer;
}