.headerIndex{
    background-image: url(/imagenes/imagenes/IndexPrincipal.jpg);
    background-size: cover;
}
.imagenIndex{
    width: 300px;
    height: 200px;
}
.videoP{
    width: 85vw;
}
.proyectosTexto div div p, .sobreNosMain section p{
    font-size: 1rem;
}
.sobreNosFlex div{
    width: 20rem;
}
.headerLogo{
    width: 6rem;
}
@media screen and (min-width:1200px){
    .headerLogo{
        width: 10rem;
    }
}
.footerIndex{
    margin-top: 8rem;
    padding: 1rem;
    background-image: linear-gradient(rgb(134, 168, 232), rgb(102, 73, 209));
}