.mainContacto{
    @extend %background;
    section{
        h2{
            @extend %margenTitulos;
            text-shadow: 2px 2px 4px #6891cf;
        }
        div{
            div{
                width: 75vw;
            }
        }
    }
    .contacto{
        div{
            h3{
                color: $colorTitulos; 
            }
        }
    }

}

@media screen and (min-width:1200px){
    .mainContacto{
        section{
            div{
                div{
                    width: 50vw;
                }
            }
        }
    
    } 
   
}