.mainProyectos{
    @extend %background;
    section{
        h2{
            color: $colorTitulos;
            margin: 8rem 0 4rem 0;
            text-shadow: 2px 2px 4px #6891cf;
        }
        div{
            div{
                h3{
                    color: $colorTitulos; 
                    margin-top: 5rem;
                }
                p{
                    @include parrafos ($color: $colorTitulos, $width: 80%, $margin: 3rem auto)
                }

            }
        }
    }
}


    
    
    
    
    
    
    
    
    
    
    
    
    
