.mainSobreNos{
    @extend %background;
    section{
        h2{
            @extend %margenTitulos;
            text-shadow: 2px 2px 4px #6891cf;
        }
        p{
            color: $colorTitulos;
            margin: 0 auto 1rem auto;
            text-align: center;
            width: 80%;
            
        }
    }
}