.mainAlquiler{
    @extend %background;
    section{
        h2{
            color: $colorTitulos;
            margin: 8rem 0 4rem 0;
            text-shadow: 2px 2px 4px #6891cf;
        }
    }
    div{
        &:hover{
            transform: scale(1.2,1.2);
            cursor: pointer;
        }
    }
}
